.row {
  width: 100%;
}

#icon {
  color: #6f8fa3;
  height: 20px;
  width: 16px;
  margin-left: 5px;
}

#hamburger-menu {
  border: none;
  padding: 0;
}

#hamburger-menu:focus {
  border: none;
  box-shadow: none;
}

#brand {
  margin-right: 5px;
}

#left-brand {
  color: #ff8919;
}

.row a {
  margin-left: 10px;
}

.second-col button {
  float: right;
}

.show {
  padding-top: 30px;
}

.collapsing a {
  display: none;
}

.collapse {
  font-size: 14px;
  font-weight: 400;
  justify-content: flex-end;
}

.navbar-nav a {
  text-align: right;
}
