.NewFormReview {
  text-align: center;
}

#nr-form-container {
  color: #032336;
  position: relative;
  display: block;
  /* border: solid 1px #6f8fa3; */
  width: 75vw;
  margin: auto;
  padding: 30px;
  margin-top: 50px;
}

#nr-brand {
  position: absolute;
  left: 0px;
  top: 0px;
}

#nr-heading {
  font-family: "Arvo", serif;
  margin-top: 50px;
  font-size: 30px;
}

#new-review-btn {
  background-color: #ff8919;
  border: none;
}
