.review-body {
  color: #032336;
}

.loading-icon {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

#sortby-form {
  margin-top: 80px;
  margin-left: 10px;
  justify-content: flex-end;
  width: 190px;
  font-weight: 700;
  background-color: white;
}

#review-cards {
  margin: 0px 15px 15px 15px;
}

#review-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  height: 800px;
  overflow: scroll;
  overflow-y: scroll;
  margin-right: 0;
}

#individual-card {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  margin: 10px;
}

#individual-card:hover {
  opacity: 0.8;
}

#card-header {
  height: 65px;
  color: white;
  font-weight: 700;
  background-color: #6f8fa3;
}

#card-header:hover {
  color: #113951;
}

#review-icon {
  color: #ff8919;
  margin-left: 5px;
}

#review-header {
  text-align: center;
  color: #6f8fa3;
  font-weight: 700;
  font-size: 14px;
}

#header-logo {
  display: inline-block;
  font-size: 40px;
}

#review-body {
  height: 48px;
  color: #032336;
}

#review-link {
  text-decoration: none;
}

#review-logo-right {
  color: #032336;
  font-weight: 400;
}

#post-review-prompt a {
  color: black;
}

#delete-button {
  background-color: transparent;
  border: none;
  padding-left: 50px;
}

@media (max-width: 576px) {
  #header-logo {
    margin-bottom: 0px;
  }

  #cr-main-body {
    height: 90%;
  }

  #review-description {
    margin-bottom: 0px;
  }
}

small {
  color: #ff8919;
}
