#signin-box {
  text-align: center;
  margin-top: 40px;
}

#signin-heading {
  margin-bottom: 40px;
  font-size: 3rem;
  color: #ff8919;
  font-family: "Arvo", serif;
  border-bottom: solid 0.5px #28536c;
}

#si-header-logo {
  margin-bottom: 40px;
}

#signin-msg {
  width: 75vw;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #28536c;
  padding-bottom: 15px;
}

#msg-container {
  display: flex;
  justify-content: center;
}

#username {
  width: 50vw;
}

#signin-submit-form {
  display: flex;
  justify-content: center;
}

#sigin-prompt {
  display: block;
}

#form-submit-btn {
  background-color: #ff8919;
  border: none;
}
